<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Movie rental</title>
</head>
<body layout:fragment="body">
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-evenly h4 my-4" th:text="'Movie database on ' + ${date}"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Movie title</th>
                <th scope="col">Release date</th>
                <th scope="col">Directed by</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="movie: ${movies}">
                <td th:text="${movie.title}">Avatar 2</td>
                <td class="text-nowrap" th:text="${movie.date}">2022</td>
                <td class="text-nowrap" th:text="${movie.directorFullName}">James Cameron</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-evenly h4 my-4">
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:if="${pager.showPrev}">
                        <a class="page-link" th:href="@{''(page=${pager.currentPage} - 1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(pager.firstPage, pager.lastPage)}">
                        <a class="page-link" th:href="@{''(page=${page})}" th:classappend="${page == pager.currentPage} ? 'active'" th:text="${page}">1</a>
                    </li>
                    <li class="page-item" th:if="${pager.showNext}">
                        <a class="page-link" th:href="@{''(page=${pager.currentPage} + 1)}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

</body>
</html>